<%- include('../partials/navigation') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round">
<link rel="stylesheet" href="/stylesheets/posts.css">
<link rel="stylesheet" href="/stylesheets/thumbsUps.css">
<% postContents.forEach(postContent => { %>
  <div class="container">
    <div id="title">
      <%= postContent.title %>
    </div>
    <div id="contents">
      <%= postContent.contents %>
    </div>
    <% authors.forEach(author => { %>
      <% if (postContent.userId === author.id) { %>
        <div id="author">
          投稿者: <%= author.username %>
        </div>
        <div id="thumbs-up-wrap">
          <% if (postContent.thumbsUpCurrentUser === true) { %>
            <form action="<%=`/thumbsUps/${postContent.id}/thumbsUps`%>" method="post">
              <button type="submit" id="thumbs-up">
                <div class="thumbs-up-current-user">
                  <i class="material-icons heart">favorite</i>
                  <span><%= postContent.thumbsUps %></span>
                </div>
              </button>
            </form>
          <% } else { %>
            <form action="<%=`/thumbsUps/${postContent.id}/thumbsUps`%>" method="post">
              <button type="submit" id="thumbs-up">
                <div class="thumbs-up-another-user">
                  <i class="material-icons heart">favorite</i>
                  <span><%= postContent.thumbsUps %></span>
                </div>
              </button>
            </form>
          <% } %>
        </div>
      <% } %>
      <% if (postContent.userId === author.id && currentUser.username === author.username) { %>
        <div id="form">
          <form action="<%=`/posts/${postContent.id}/update`%>" method="get" id="submit">
            <input type="submit" value="編集">
          </form>
          <form action="<%=`/posts/${postContent.id}/delete`%>" method="post" id="submit">
            <input type="submit" value="削除">
          </form>
        </div>
      <% } %>
    <% }); %>
  </div>
<% }); %>